body {
  background-color: rgb(128,0,0)
}
h1 {
	font-family: 'Abril Fatface', serif;
  color: white;
	font-size: 3em;
}
p {
	font-family: 'Roboto Slab', serif;
  color: white;
	font-size: 100%;
}
h2 {
	font-style: italic;
	color:Navy;
	font-size: 2em;
}
ul.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.NavBar {
  float: left;
}

li a.NavBar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a.NavBar:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}